<div class="jumbotron">
  <div class="container text-center">
    <%= image_tag "catinder-logo.png" %>
    <h1>Welcome to CATinder!</h1>
    <h2>Who is Meow, and who is Not-Meow? You decide!</h2>
    <h3><%= link_to "Get Started", "/cats?random=true", class: "btn btn-primary btn-lg" %></h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  <% @cats.each do |cat| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag cat.image_uri, class: "img_preview"%>
        <h3 class="text-muted text-center"><%= cat.name %></h3>
        <p style="color:red" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <em><%= link_to cat.votes, cat_path(cat.id), method: "PUT" %></em></p>
      </div>
    </div>
  <% end %>
  </div>
  </div>

