<div class="text-center">

  <%= form_for(@cat) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
      <%= f.label :image_uri %><br>
      <%= f.text_field :image_uri %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
